.box{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    position: absolute;
    width: 100%;
    height: 400px;
}

.heading{
    position: relative;
    color: black;
}

@font-face{
    font-family: 'WinterPrime';
    src: url('fonts/winter_prime/WinterPrime.ttf') format('truetype');
}

.heading h1{
    font-family: 'WinterPrime',sans-serif;
    font-size: 50px;
}

.box2{
    display: flex;
    justify-content:center;
}

.box3{
    display: flex;
    justify-content:center;
}

.cards{
    width: 350px;
    height: 400px;
    margin: 30px 20px;
    background-color: rgb(213, 213, 213);
    box-shadow: 10px 10px 10px 10px grey;
    border-radius: 20px;
}

.cards img{
    width: 350px;
    height: 170px;
}

.box3 .cards{
    margin-top: 0%;
    width: 450px;
}

.box3 .cards img{
    width: 450px;
}

.box3text h3{
    text-align: center;
}

.btns{
    display: flex;
    justify-content: center;
}


.text{
    text-align:justify;
    padding: 10px;
}

.box4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.box4 img{
    width: 100%;
    height: 200px;
    position: absolute;
}

.heading2{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
}

.cards4{
    width: 250px;
    height: 400px;
    margin: 30px 20px;
    background-color: rgb(213, 213, 213);
}

.cards4 img{
    width: 250px;
    height: 200px;
}


.box5{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.box5 .cards4{
    box-shadow: 10px 10px 10px 10px grey;
    border-radius: 20px;
}
.text1 h5,p{
    text-align: center;
}

.box6{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bigcard{
    width: 1121px;
    background-color: rgb(213, 213, 213);

}

.bigcard img{
    width: 1121px;
    height: 400px;
}

.text6{
    margin: 20px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items:center ;
    margin-top: 120px;
}


.formdiv{
    position: relative;
    width: 650px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paragraph{
    padding: 20px;
    backdrop-filter: blur(20px);    
    border-radius: 8px;
}

.inputdiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 650px;
    height: 179px;
}

input{
    padding: 5px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);    
    border: none;
}

textarea,input::placeholder{
    color:black;
}

textarea{
    width: 300px;
    height: 100px;
    padding: 6px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);    
    border: none;
}

.confirm{
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
}